@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Circuito Presidentes<br />
    Xalapa, Veracruz. CP 91300.<br />
    <abbr title="Phone">P:</abbr>
    2351060778
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:adad.v95@gmail.com">adad.v95@gmail.com</a><br />
</address>
